<!-- Team Section -->
    <section id="team" class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kim Minkyeung</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

                <div class= "col-md-4">
                    <div class="picture"> <img src="img/team/1.jpg" class="img-responsive img-circle" alt=""> </div>
                </div>
                <div class= "col-md-8">
                    <div class="cv">
                        <h4 style="color:rgb(177, 216, 255)">CV</h4>
                         <p>
                             - 117kb, exhibited at <b><a href="https://dmz.gg.go.kr/archives/106813">DMZ Peace Platform</a></b>, DMZ, 2018
                             <br> - Wearewatching_us_gnihctaweraeW, exhibited at <b><a href="http://artspaceiaa.kr/exhibitionDetail.do?exhibitionSeq=76"> < IAa International Inter-media Art Project > </a></b> , Art Space IAa, Jeju, 2018
                             <br> - Untitled1, exhibited at <b><a href="http://www.kidd.co.kr/news/204179"> < 2018 Industrial Media Art Show, Seoul > </a></b> , COEX, Seoul, 2018
                             <br> - Talk-affiti, exhibited at <b> <a href="http://www.snart.or.kr/web/show/view/?MENUMST_ID=21447&place=all&type=month&show_type=exihib&SNA_SHOW_IDX=5480"> < Dancing with Light and Images > </a></b> ,Seongnam Art Center, Seongnam, 2018
                             <br> - Hide and Seek, exhibited at <b><a href="http://www.tribowl.kr/play/view.php?sq=280&page=10&s_fld=&s_txt="> < 이미지를 거닐다 > </a></b> , Tribowl, Songdo, 2018
                             <br> - Untitled1 and Untitled2, exhibited at <b><a href="http://www.ymuseum.org/home/sub02.php?mid=16&uid=10"> < Sports and Art Playing > </a></b> , Yangpyeong Art Museum, Yangpyeong, 2018
                             <br> - Seeing Pyeonchang, exhibited at <b><a href="http://p-mediaart.com/index.php/informations-2/"> Pyeongchang Media Art Project < 平窓: peace over window ></a></b> , Pyeongchang, 2018
                             <br> - Editor of <b><a href="http://monthlyart.com/"> Monthly Art Magazine</a></b>, 2018
                             <br> - Colorful Society, curating at <b><a href="https://www.facebook.com/piville99/"> Piville Exhibition Platform </a></b>, 2017
                             <br> - Value of Valueless, curating at <b><a href="https://www.facebook.com/piville99/"> Piville Exhibition Platform </a></b>, 2017
                         </p>
                    </div>
                </div>
                <div class= "col-md-8">
                    <div class="media-coverage"><h4 style="color:rgb(255, 213, 0)">Media Coverage</h4> <p> 2018<br> what </p>   </div>
                </div>

            </div>


    </section>
