<!-- Team Section -->
    <section id="team" class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kim Minkyeung</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

                <div class= "col-md-4">
                    <div class="picture"> <img src="img/team/1.jpg" class="img-responsive img-circle" alt=""> </div>
                </div>
                <div class= "col-md-8">
                    <div class="cv">
                        <h4 style="color:rgb(177, 216, 255)">CV</h4>
                         <p>
                             - 117kb, exhibited at <b><a href="https://dmz.gg.go.kr/archives/106813">DMZ Peace Platform</a></b>, DMZ, 2018
                             <br> - Wearewatching_us_gnihctaweraeW, exhibited at <br> &nbsp; <a href="http://artspaceiaa.kr/exhibitionDetail.do?exhibitionSeq=76"> < IAa International Inter-media Art Project > </a> , Art Space IAa, Jeju, 2018
                             <br> - Talk-affiti, exhibited at  <a href="http://www.snart.or.kr/web/show/view/?MENUMST_ID=21447&place=all&type=month&show_type=exihib&SNA_SHOW_IDX=5480"> < Dancing with Light and Images > </a> ,Seongnam Art Center, Seongnam, 2018
                         </p>
                    </div>
                </div>
                <div class= "col-md-8">
                    <div class="media-coverage"><h4 style="color:rgb(255, 213, 0)">Media Coverage</h4> <p> 2018<br> what </p>   </div>
                </div>

            </div>


    </section>
