<!-- Team Section -->
    <section id="team" class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kim Minkyeung</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

                <div class= "col-md-4">
                    <div class="picture"> <img src="img/team/me2.jpg" class="img-responsive img-circle" alt=""> </div>
                </div>
                <div class= "col-md-8">
                    <div class="cv">
                        <h4 style="color:rgb(177, 216, 255)" >Exhibition</h4>
                             - 117kb, exhibited at <b><a href="https://dmz.gg.go.kr/archives/106813" style="color:black">DMZ Peace Platform</a></b>, DMZ, 2018
                             <br> - Wearewatching_us_gnihctaweraeW, exhibited at <b><a href="http://artspaceiaa.kr/exhibitionDetail.do?exhibitionSeq=76"  style="color:black"> < IAa International Inter-media Art Project > </a></b> , Art Space IAa, Jeju, 2018
                             <br> - Untitled1, exhibited at <b><a href="http://www.kidd.co.kr/news/204179" style="color:black"> < 2018 Industrial Media Art Show, Seoul > </a></b> , COEX, Seoul, 2018
                             <br> - Talk-affiti, exhibited at <b> <a href="http://www.snart.or.kr/web/show/view/?MENUMST_ID=21447&place=all&type=month&show_type=exihib&SNA_SHOW_IDX=5480" style="color:black"> < Dancing with Light and Images > </a></b> ,Seongnam Art Center, Seongnam, 2018
                             <br> - Hide and Seek, exhibited at <b><a href="http://www.tribowl.kr/play/view.php?sq=280&page=10&s_fld=&s_txt=" style="color:black"> < 이미지를 거닐다 > </a></b> , Tribowl, Songdo, 2018
                             <br> - Untitled1 and Untitled2, exhibited at <b><a href="http://www.ymuseum.org/home/sub02.php?mid=16&uid=10" style="color:black"> < Sports and Art Playing > </a></b> , Yangpyeong Art Museum, Yangpyeong, 2018
                             <br> - Seeing Pyeonchang, exhibited at <b><a href="http://p-mediaart.com/index.php/informations-2/" style="color:black"> Pyeongchang Media Art Project < 平窓: peace over window ></a></b> , Pyeongchang, 2018
                             <br> - Colorful Society, curating at <b><a href="https://www.facebook.com/piville99/" style="color:black"> Piville Exhibition Platform </a></b>, 2017
                             <br> - Value of Valueless, curating at <b><a href="https://www.facebook.com/piville99/" style="color:black"> Piville Exhibition Platform </a></b>, 2017

                    </div>
                </div>
                <br><br>
                <div class= "col-md-8">
                    <div class="media-coverage"><h4 style="color:rgb(255, 213, 0)">Media Coverage</h4>

                        - Korea Joongang Daily, <b><a href="http://koreajoongangdaily.joins.com/news/article/article.aspx?aid=3051933" style="color:black">DMZ goes from war zone to a place of peace : Improving Korean relations have artists and officials imagining possibilities</a></b>, Aug 16 2018
                        <br> - The Korea Times,  <b><a href="http://www.koreatimes.co.kr/www/art/2018/09/691_254343.html" style="color:black"> Former US army base becomes artistic haven </a></b> , Aug 23 2018
                        <br> - Aju News,  <b><a href="https://www.ajunews.com/view/20180810120332440" style="color:black"> [Exhibition Video]"탄약고 정비고를 바꾼 예술 작품"..캠프그리브스 DMZ 평화정거장 사업 </a></b> ,Aug 10 2018
                        <br> - 경향신문,  <b><a href="http://news.khan.co.kr/kh_news/khan_art_view.html?art_id=201808161453001" style="color:black" > 미군 탄약고 속 ‘미끄럼틀과 사슴’···예술공간으로 바뀐 캠프 그리브스 </a></b> , Aug 16 2018
                        <br> - Newspim,  <b><a href="http://www.newspim.com/news/view/201808080004471" style="color:black" > [Video] DMZ, 안보→예술…'DMZ 평화정거장' 예술창작 전시 11일 개최 </a></b> , August 08 2018
                        <br> - 연합뉴스,  <b><a href="http://www.yonhapnews.co.kr/bulletin/2018/08/08/0200000000AKR20180808145800005.HTML" style="color:black"> 옛 미군 탄약고엔 미끄럼틀과 그네가…문화예술 품은 DMZ </a></b> , Aug 08 2018
                        <br> - HumanNuri,  <b><a href="http://www.humannuri.com/detail.php?number=44914&thread=24r01" style="color:black" >  DMZ 평화정거장-예술창작전시 프로그램 8월 11일 개막 </a></b> , Aug 08 2018
                        <br> - MK news, <b><a href="http://news.mk.co.kr/newsRead.php?sc=50500002&year=2018&no=498035" style="color:black"> DMZ 美軍 탄약고가 예술 공간으로 </a></b> , Aug 08 2018
                        <br> - Startuptoday, <b><a href="http://www.startuptoday.co.kr/news/articleView.html?idxno=20485" style="color:black" > 국내 최초 산업ㆍ예술 융합 전시 '산업미디어아트쇼서울2018' 개최</a></b> , Aug 06 2018
                        <br> - News Channel S, <b><a href="http://cnsn.kr/?c=1&p=2&uid=5571" style="color:black" > 성남문화재단, 미디어아트전 < 빛으로 그리고 영상으로 춤추다 > </a></b> , May 15 2018
                        <br> - 경기신문, <b><a href="http://www.kgnews.co.kr/news/articleView.html?idxno=515068" style="color:black" > 중학교 교과서 속 미디어아트 체험 ‘이해 쏙쏙 창의성 쑥쑥’</a></b> , May 14  2018
                        <br> - 머니투데이, <b><a href="http://news.mt.co.kr/mtview.php?no=2018051413374233882" style="color:black" > 성남문화재단, 교과연계 교육형 체험전시 미디어아트전</a></b> , May 14  2018
                        <br> - Incheon Ilbo, <b><a href="http://www.ifac.or.kr/IFACBBS/board.php?bo_table=Ifacbbs_oc6706&wr_id=1205" style="color:black" > 트라이보울, 너로 정했다</a></b> , May 04  2018
                        <br> -Game Focus,  <b><a href="http://gamefocus.co.kr/detail.php?number=86322" style="color:black"> 게임과 문화예술의 만남, 한콘진 '놀이, 이토록 창의로운 Imagine, Play' 데모데이 개최</a></b> ,  Sept 19 2018

                   </div>
                </div>

            </div>


    </section>
