<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> 시리얼타임즈 c.realTimes   </h2>
                    <h3 class="section-subheading text-muted">Work at the intersection of art, interacive art, and public installations</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">강민준</h4>
                    <p class="text-muted"><b>A programmer  interested in interactive design, and human-computer interaction.</b><br> A leader of <b>c.realTimes</b>, Media-art group
                      <br> <br><br>   - Korea Joongang Daily, <b><a onclick=" window.open('http://koreajoongangdaily.joins.com/news/article/article.aspx?aid=3051933','_blank')" style="color: rgb(184,184,255)"> "DMZ goes from war zone to a place of peace : Improving Korean relations have artists and officials imagining possibilities" </a></b>, Aug 16 2018
                      <button class="button_I" style="vertical-align:middle"  onclick=" window.open('http://koreajoongangdaily.joins.com/news/article/article.aspx?aid=3051933','_blank')"><span>Read the Korea Joongang Daily  </span></button>
                      </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">김민경</h4>
                    <p class="text-muted"><b> Obeserves & studies contemporary society.</b>   <br> <br> <br> - Designing the Two Wearable Robots; <b> <a onclick=" window.open('https://minkakao.github.io/projects/img/Wearable.pdf','_blank')" style="color: rgb(184,184,255)"> study  of extension of human body </a> </b>, 2016
                    <button class="button_I" style="vertical-align:middle"   onclick=" window.open('https://minkakao.github.io/projects/img/Wearable.pdf','_blank')"><span>See The Project Paper  </span></button>
                      </p>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">송천주</h4>
                    <p class="text-muted"><b>Tells stories of people around the world. </b>
                      <br> <br> <br><br> - Team of Publishing, and Online Editor of <br> <b><a  onclick=" window.open('http://monthlyart.com/','_blank')" style="color: rgb(184,184,255) "> Monthly Art Magazine</a></b>
                      <br><button class="button_I" style="vertical-align:middle"  onclick=" window.open('http://monthlyart.com/','_blank')"><span>Visit the Website  </span></button>
                        </div>
            </div>
        </div>
    </section>
