<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> 시리얼타임즈 c.realTimes   </h2>
                    <h3 class="section-subheading text-muted">Artist collective at the intersection of art, interacive art, and public installations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <h3 class="section-subheading text-center"> 시리얼타임즈의 팀명은 ‘see; 보다’, ‘comtemporary; 동시대성’을 뜻하는 ‘C’와 실시간을 뜻하는 ‘real-time’이라는 키워드를 담는다. <br>역동적인 현시대를 탐구하며 끊임없는 입력과 출력의 반복, 그리고 그 둘 사이의 상호작용으로
인하여 파생되는 제3의 생각을 이어나간다. <br> <br> The name c.realTimes is derived from the letter ‘c’(as in ‘to see’ and the ‘c’ from the word ‘contemporary’) and the word ‘real-time.’ <br>Studying the ever changing modern age is an act of persisting thoughts on continuous repetition of inputs and outputs and the outcomes derived from the interaction between the two.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">강민준 <br> Kang Minjoon </h4>
                    <p class="text-muted"><b>A programmer  interested in interactive design, and human-computer interaction.</b>
                      </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">김민경 <br>Kim Minkyeung</h4>
                    <p class="text-muted"><b> An artist who studies and tells stories of contemporary society.</b>
                    </p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera-retro fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">송천주 <br>Song Cheonju</h4>
                    <p class="text-muted"><b>A visual artist who observes current media communication. </b>
                    </p>    </div>
            </div>

        </div>
    </section>
